body{
    font-size: 16px;
}
h1{
    width: 65px; color: rgb(224, 162, 47); font-family: sans-serif;
}
p{
    font-weight: 600; font-size: 3em; font-style: oblique; line-height: 8pt; text-align: center;
}
ul{
background-color: aquamarine; text-decoration-style: dashed;
}
.list-background{
background-color: darkkhaki;
}