.super-mario {
    position: absolute;
    width: 150px;
    left: 100px;
  }
  
  .goomba {
    position: absolute;
    width: 90px;
    left: 130px;
    top: 300px;
  }
  
  .baloon {
    position: absolute;
    width: 250px;
    left: 490px;
    top: 100px;
    z-index: 1;
  
  }
  
  .speech {
    position: absolute;
    font-size: 20px;
    top: 130px;
    left: 510px;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    width: 350px;
    left: 700px;
    top: 140px;
  }